<!DOCTYPE html>
<html>
  <head>
    <!-- ejs里从后台传过来的变量 -->
    <title><%= title %></title>
    <!-- http://jspang.com/wp-admin/post.php?post=2760&action=edit# -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
  </body>
</html>
